body, h1, h2, h3, h4,p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #089a2a;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    color: #000000;
    font-size: 1.8rem;
}

nav {
    position: relative;
}


.nav-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.nav-links a {
    color: #333;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
    background-color: #ffffff;
    color: #222;
}


.hero {
    position: relative;
    text-align: center;
    color: #FFF;
    margin-top: 1rem;
}

.hero img {
    width: 100%;
    height: 800px;

}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text h2 {
    font-size: 2rem;
}

.cta-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #b9b8b7;
    color: #333;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
    font-size: 1rem;
}

.cta-button:hover {
    background-color: #d1cdcd;
}


.hamburger-menu {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
}

footer {
    background-color: #089a2a;
    color: #333;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 0.5rem 0;
} 



.discover2 img {
    border: 10px solid #454444;
    width: 60%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar section {
    background-color: #e8ebee;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #222544;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    padding: 5px;
    border: 1px solid #ccc;
    max-width: 100%;
    overflow-x: auto; /* Add horizontal scroll for mobile */
}

.calendar .day {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #f9f9f9;
    font-size: 1.2em;
}

.calendar .header {
    font-weight: bold;
    background-color: #eee;
}

.calendar .empty {
    background-color: transparent;
    border: none;
}

.visits {
    padding: 1rem; 
} 

 

@media only screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .hamburger-menu {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .nav-links.active {
        display: flex;
    }
} 

  


/* Join Page */ 
.joinpage {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 5rem; /* Added margin-top of 10rem */
  }

.joinmessage {
  color: #089a2a;
  font-size: 5rem;
  margin-top: 2rem; 
  text-align: center;
}

.wf1 fieldset {
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 1px solid lightgrey;
  border-radius: 6px;
  min-width: 375px;
  max-width: 600px;
}

.wf1 legend {
  color: #089a2a;
  padding: 0 .5rem;
}

.wf1 label {
  display: block;
  padding-top: 1rem;
  color: var(--secondary-color);
  font-size: .9rem;
}

.wf1 input[type="text"],
.wf1 input[type="password"],
.wf1 input[type="email"],
.wf1 input[type="tel"],
.wf1 textarea {
  background-color: #eee;
  display: block;
  border: solid 1px grey;
  border-radius: 6px;
  padding: .75rem;
  color: #555;
  width: 90%;
  min-width: 375px;
  max-width: 575px;
  appearance: none;
}

.wf1 select {
  display: block;
  border: solid 1px grey;
  border-radius: 6px;
  padding: .75rem;
  width: 95%;
  min-width: 400px;
  max-width: 600px;
  appearance: none;
}

#description {
  padding-bottom: 3rem;
}

.wf1 input[type="submit"] {
  border: none;
  background-color: #089a2a;
  color: #ffffff;
  padding: 1rem;
  border-radius: 6px;
  width: 96%;
  max-width: 400px;
  box-shadow: 1px 1px 4px #838383;
  margin: 0 auto;
  font-size: 1.2rem;
}

.wf1 input[type="submit"]:hover {
  background-color: #089a2a;
}

.membership-benefits {
  margin-top: 9em;
  padding: 1em;
  background: #089a2a;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  appearance: none;
}

.membership-benefits h2 {
  margin-top: 2rem;
}

.membership-benefits h3 {
  padding-left: 1em;
  list-style: disc;
}

.membership-benefits p {
  margin-bottom: 0.5em;
}

/* Mobile Version */
@media (max-width: 600px) {
  .joinmessage {
    font-size: 3rem;
    margin-top: 0rem;
  }

  .wf1 input[type="submit"] {
    padding: 0.8rem;
    font-size: 1rem;
  }

  .membership-benefits {
    margin-top: 4em;
  }
}