

.header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #065619;
    color: #f9f7f0;
    text-align: center;
    position: relative; 
}

.profile_pic {
    width: 10rem;
    height: auto;
    border-radius: 20%;
    margin-right: 20px;
}

.header_content h1 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

@media (max-width: 768px) {
    .header_content {
        flex-direction: column;
        align-items: center;
    }

    .profile_pic {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

body {
    background-color: #aef5a6;
    color: #072a40;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
nav ul {
    list-style-type: none;
    display: none; 
    position: absolute;
    top: 100%;
    right: 0;
    background-color:#089a2a;
    text-align: center;
    padding: 20px 0;
    margin-top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



nav a {
    text-decoration: none;
    color: #000000;
    font-family: "Lato", sans-serif;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
    display: block;
}

nav a:hover {
    background-color: #089a2a;
    color: #000000;
}

nav a:focus,
nav a.active {
    color: #072a40;
    background-color: #089a2a;
}

.main_content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

main h1 {
    text-align: center;
    grid-column: 1 / -1;
}

.learning_activities,
.information {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f7f0;;
}

.learning_activities h2,
.information h2 {
    background-color: #065619;
    color: #fff;
    padding: 10px;
    margin: 0;
}

.learning_activities ul {
    list-style-type: none;
}

footer {
    background-color: #089a2a;
    color: #000000;
    font-family: "Lato", sans-serif;
    padding: 15px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#flag {
    height: 1rem;
    width: auto;
}

.dark-mode-button {
    background-color: green;
    border-radius: 10%;
    color: white;
    font-size: 22px;
    position: absolute;
    left: 0;
    top: 30%;
    transform: translateY(-50%);
  }
  


body.dark-mode {
    background-color: #333;
    color: #f9f7f0;
}

.header_content.dark-mode {
    background-color: #222;
    color: #f9f7f0;
}

nav ul.dark-mode {
    background-color: #444;
}

nav a.dark-mode {
    color: #f9f7f0;
}

nav a.dark-mode:hover {
    background: none;
    color: #f9f7f0;
}

.learning_activities.dark-mode,
.information.dark-mode {
    background-color: #444;
    border-color: #555;
}

footer.dark-mode {
    background-color: #222;
    color: #f9f7f0;
}


#hamburger {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #f3e9e9;
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    
}
#hamburger::before {
    content: "☰";
}

@media (min-width: 600px) {
    #hamburger {
        display: none; 
    }

    .header_content {
        padding: 20px 40px; 
    }

    nav ul {
        display: flex;
        position: static;
        background-color: #089a2a; 
        box-shadow: none;
        margin-top: 0;
        padding: 0;
        width: auto;
    }

    nav li {
        margin-right: 20px;
    }

    nav a {
        padding: 15px;
    }
    
    
}

@media screen and (max-width: 600px) {
    .menu {
        display: none;
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #089a2a;
        padding: 10px 0;
        text-align: center;
    }

    .menu.active {
        display: block;
    }

    .menu li {
        margin: 10px 0;
    }

    .header_content {
        justify-content: flex-end;
    }
    #hamburger.active::before {
        content: "❎";
    
    }
}



nav a {
    text-decoration: none;
    color: #000000;
    font-family: "Lato", sans-serif;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
    display: block;
}

nav a:hover {
    background-color: #089a2a;
    color: #000000;
}

nav a:focus,
nav a.active {
    color: #072a40;
    background-color: #089a2a;
}
 
 
.hero {
    margin-top: 2rem;
    position: relative;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
}

.hero img {
    width: 100%;
    height: auto;
}

.herolabel {
    position: absolute;
    top: 15px;
    right: 15px;
    background: linear-gradient(#fff, #089a2a);
    border: 1px solid black;
    padding: 0.5rem;
    opacity: 0.8;
}

.herolabel p {
    margin: 0;
    font-weight: 600;
    font-size: 0.65rem;
} 

iframe {
    height: 900px;
    width: 1500px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 4%;
    border: none; 
} 



#rangeValue {
    font-size: x-large;
}

.information {
    text-align: center;
}

.information div {
    margin-bottom: 2rem;
}













@media (max-width: 768px) {
    iframe {
        width: 250px; 
        height: 200px;
        margin-right: 10%;
        margin-left: 10%;
    } 
    
} 

